button {
  display: flex;
  justify-content: center;
  padding: 24px 0;

  color: white;

  border-radius: 100px;

  &.fill-purple {
    background-color: var(--light-purple);
  }

  &.stroke-green {
    background: transparent;
    border: 1px solid var(--light-green);
  }
}