button {
  display: flex;
  justify-content: center;

  color: white;

  border-radius: 100px;

  &.fill-purple {
    background-color: var(--light-purple);
  }

  &.fill-black {
    background-color: black;
  }

  &.fill-green {
    color: black;
    background-color: var(--light-green);
  }

  &.stroke-green {
    background: transparent;
    border: 1px solid var(--light-green);
  }
}