@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--dark-purple-1);
  --background-images:
          url('@/assets/bg-circles/purple-circle-0.svg'),
          url('@/assets/bg-circles/purple-circle-0.svg'),
          url('@/assets/bg-circles/green-circle-0.svg');
  background-image: var(--background-images);
  background-position:
          top -720px left calc(50% - 450px),
          bottom -850px right calc(50% - 620px),
          top 30px right calc(50% - 900px);
  background-repeat: no-repeat;

  --dark-purple: #2A255E;
  --dark-purple-1: #010922;
  --light-purple: #8D8DDA;
  --light-green: #89D0D1;
  --light-green-1: #AAD9D9;

  --gradient: linear-gradient(-81.227deg, #AAD9D9 0%, #5656C2 100%);

  &.not-implemented-page {
    --background-images:
            url('@/assets/bg-circles/purple-circle-0.svg'),
            url('@/assets/bg-circles/purple-circle-0.svg');
  }

  @media screen and (min-width: 1720px) {
    --background-images:
            url('@/assets/bg-circles/purple-circle-0.svg'),
            url('@/assets/bg-circles/purple-circle-0.svg');
  }
}

::-webkit-scrollbar {
  width: 16px;
  background: var(--dark-purple-1);
}

::-webkit-scrollbar-thumb {
  border: 4px solid var(--dark-purple-1);
  border-radius: 15px;
  background: var(--light-purple);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  overflow-x: hidden;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 87px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}

.body-text {
  max-width: 345px;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.sub-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@utility underline-animation {
  position: relative;
  display: inline-block;
  width: fit-content;

  &::after {
    content: '';

    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: white;

    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}